<!-- templates/vacancies/vacancy_list.html -->

{% include 'includes/navbar.html' %}
<!DOCTYPE html>
<html>
<head>
    <title>Список вакансий</title>
</head>
<body>
    <h1>Список вакансий</h1>

    <ul>
        {% for vacancy in vacancies %}
            <li>
                <h2>{{ vacancy.title }}</h2>
                <p>Компания: {{ vacancy.company }}</p>
                <p>Зарплата: {{ vacancy.salary }}</p>
                <p>Описание: {{ vacancy.description }}</p>
                <a href="{% url 'vacancies:vacancy_detail' vacancy.id %}">Подробнее</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
